{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Henrique Valadão Herrmann</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'sobrePessoal' %}">Trajetória Pessoal</a></li>
                <li><a href="{% url 'sobreProfissional' %}">Trajetória Profissional</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Entre em Contato</h2>
            <p>E-mail: hherrmann.sul@gmail.com <br>
                Telefone: (53) 99125-4545

            </p>
            
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Meu Site.</p>
    </footer>
</body>
</html>
