{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Aqui você pode adicionar links para folhas de estilo CSS ou scripts JavaScript -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="script.js" defer></script>
</head>
<body>
    <!-- O conteúdo da sua página vai aqui -->
    <header>
        <h1>Meu Site</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Trajetória Pessoal</a></li>
                <li><a href="#">Trajetória Profissional</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Bem-vindo ao meu site!</h2>
        <p>Aqui você irá encontrar o meu currículo, incluindo minha trajetória pessoal e interesses e a minha carreira profissional, contendo as minhas formações e habilidades. <br>
            Fique à vontade para entrar em contato. Estou à disposição!</p>
    </main>
    
    <footer>
        <p>&copy; 2024 Meu Site.</p>
    </footer>
</body>
</html>
