{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Profissional</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1>Henrique Valadão Herrmann</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'sobrePessoal' %}">Trajetória Pessoal</a></li>
                <li><a href="{% url 'sobreProfissional' %}">Trajetória Profissional</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="perfil">
            <h2>Habilidades</h2>
            <p>Possuo formação em inglês intermediário. <br>
               Tenho conhecimentos básicos em Excel, Word e Power BI e conhecimento avançado em metodologias ágeis. <br>
               Detenho de habilidades em organização, comunicação e trabalho em equipe.  </p>
        </section>
        <section id="educacao">
            <h2>Escolaridade</h2>
            <h3>Técnico em Eletrotécnica - Intituto Federal Sul-Rio Grandense - IFSUL (2012 - 2017)</h3>
            <h3>Bacharel em Engenharia de Computação - Universidade Federal do Rio Grande - FURG (2019 - 2024)</h3>
        </section>
        <section id="experiencia">
            <h2>Experiência Profissional</h2>
            <h3>Estagiário - Augen Engenharia e Inovação (03/2022 - 12/2022)</h3>
            <p>Desenvolvimento e manutenção de aplicações IoT utilizando tecnologias como Python, AWS IoT, protocolos MQTT, OPC UA e Modbus.</p>
            
            <h3>Desenvolvedor de Software Back End/Scrum Master - Augen Engenharia e Inovação (01/2023 - atualmente)</h3>
            <p>Desenvolvimento e manutenção de aplicações IoT utilizando tecnologias como Python, AWS IoT, protocolos MQTT, OPC UA e Modbus. <br>
                Além disso, desempenho o cargo de liderança como Scrum Master da empresa, orientando a equipe com as prioridades e objetivos durante a execução de suas tarefas. 

            </p>
        </section>
        

    </main>
    
    <footer>
        <p>&copy; 2024 Meu Site. </p>
    </footer>
</body>
</html>
