{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Pessoal</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1>Meu Site</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre Pessoal</a></li>
                <li><a href="#">Sobre Profissional</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        
        <section>
            <h3>Minha História</h3>
            <p> Me chamo Henrique, tenho 27 anos e sou natural de Pelotas/RS. No início da minha formação, cursei um semestre de Tecnólogo em Sistemas para Internet. A partir de então, 
                entendi a minha vocação na área da tecnologia e, somando à minha ambição na Engenharia, descobri o meu interesse com o curso de Engenharia de Computação. <br>
                Sou comunicativo, organizado e dedicado, além de trabalhar muito bem em grupo. <br>
                Estou à procura de desenvolvimento pessoal e profissional, bem como de novas oportunidades. <br>
                Tenho disposição para trabalhar diretamente com o público, em virtude da minha habilidade em comunicação, e me adapto bem ao ambiente de trabalho.
            </p>
        </section>
    
    </main>
    
    <footer>
        <p>&copy; 2024 Meu Site.</p>
    </footer>
</body>
</html>
